[NetDev]
Name=wg0
Kind=wireguard

[WireGuard]
PrivateKey=wP0r4NCuoZfeCBSCL0bv/m/eKlqZLozQsi97gclPEEg=
ListenPort=33134

#---- pi4
[WireGuardPeer]
PublicKey=wYBzvN3f3Mbfd5kcYCMZIAZDGfPByrRiRi1drk0vRQo=
AllowedIPs=10.66.66.14/32, 10.0.0.0/24
RouteTable=main

#---- Bugg PC
[WireGuardPeer]
PublicKey=s3mxe65lXWBDsnds9oTOqqHiC587NdlPp7dlayN3LTo=
AllowedIPs=10.66.66.26/32
