[NetDev]
Name=wg0
Kind=wireguard

[WireGuard]
PrivateKey=GDjjUZ/K0LSY89PTWStgW+3paE3M7CRdleHywnJtYF8=

[WireGuardPeer]
PublicKey=T9XywHXmeQTifxhxo2eJ4f7bTgDyt0F8ZH2caNyllU4=
AllowedIPs=10.66.66.0/24
Endpoint=vpn.aman.pp.ua:33134
PersistentKeepalive=25

